#title-slide {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.1);
  font-family: "Orbitron", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

#name {
  position: absolute;
  font-size: 12vw;
  color: rgba(0, 0, 0, 0.5);
  animation: name 6s;
}

@keyframes name {
  0%,
  50% {
    opacity: 0;
    transform: translate(0, -50px);
  }
}
